<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../common/meta.ejs') %>
        <%- include('../common/title.ejs') %>
        <%- include('../common/css.ejs') %>
    </head>

    <body class="authentication-bg">
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <a class="mb-5 d-block auth-logo">
                                <img src="/assets/images/Open-BMS_logo.png" alt="" height="100" class="logo logo-dark">
                                <img src="/assets/images/Open-BMS_logo_white.png" alt="" height="100" class="logo logo-light">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body p-4"> 
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">OPEN-BMS</h5>
                                    <p class="text-muted">Login For Admin</p>
                                </div>
                                <div class="mt-4">
                                    <form>
                                        <div class="mb-3">
                                            <label class="form-label" for="loginID">Username</label>
                                            <input type="text" class="form-control" name="loginID" id="loginID" onkeyup="javascript:loginChk();">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="userpassword">Password</label>
                                            <input type="password" class="form-control"  name="loginPW" id="loginPW" onkeyup="javascript:loginChk();">
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="rememberChk">
                                            <label class="form-check-label" for="rememberChk">Remember me</label>
                                        </div>
                                        <div class="mt-3 text-end">
                                            <input class="btn btn-primary w-sm waves-effect waves-light" type="button" id="loginBtn" value="Login">
                                        </div>            
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center"><p>© 2021 Open-BMS. Powered by <a href="http://techcode.co.kr/" target="_blank">techcode</a></p></div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../layout/scripts.ejs') %>
        <script>
            function setCookie(cookieName, value, exdays) {
                var exdate = new Date();
                exdate.setDate(exdate.getDate() + exdays);
                var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
                document.cookie = cookieName + "=" + cookieValue;
            }

            function deleteCookie(cookieName) {
                var expireDate = new Date();
                expireDate.setDate(expireDate.getDate() - 1);
                document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
            }

            function getCookie(cookieName) {
                cookieName = cookieName + '=';
                var cookieData = document.cookie;
                var start = cookieData.indexOf(cookieName);
                var cookieValue = '';
                if(start != -1){
                    start += cookieName.length;
                    var end = cookieData.indexOf(';', start);
                    if(end == -1)end = cookieData.length;
                    cookieValue = cookieData.substring(start, end);
                }
                return unescape(cookieValue);
            }

            $(document).ready(function() {
                // 저장된 쿠키값을 가져와서 ID 칸에 넣어준다. 없으면 공백으로 들어감.
                var key = getCookie("userRememberIDForAdmin");
                $("#loginID").val(key);
                
                if($("#loginID").val() != ""){ // 그 전에 ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면,
                    $("#rememberChk").attr("checked", true); // ID 저장하기를 체크 상태로 두기.
                }
                
                $("#rememberChk").change(function() { // 체크박스에 변화가 있다면,
                    if($("#rememberChk").is(":checked")){ // ID 저장하기 체크했을 때,
                        setCookie("userRememberIDForAdmin", $("#loginID").val(), 7); // 7일 동안 쿠키 보관
                    }else{ // ID 저장하기 체크 해제 시,
                        deleteCookie("userRememberIDForAdmin");
                    }
                });
                
                // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
                $("#loginID").keyup(function(){ // ID 입력 칸에 ID를 입력할 때,
                    if($("#rememberChk").is(":checked")){ // ID 저장하기를 체크한 상태라면,
                        setCookie("userRememberIDForAdmin", $("#loginID").val(), 7); // 7일 동안 쿠키 보관
                    }
                });
            });

            $("#loginBtn").on("click", async function() {
                if(!valCheck("is", $("#loginID").val())) {
                    swalWithBootstrapButtons.fire(makeAlertObj("warning","ID를 입력해주십시오"));
                    return false;
                }
                if(!valCheck("is", $("#loginPW").val())) {
                    swalWithBootstrapButtons.fire(makeAlertObj("warning","비밀번호를 입력해주십시오"));
                    return false;
                }

                let postData = {
                    loginRole: "SA",
                    loginID: $("#loginID").val(),
                    loginPW: $("#loginPW").val()
                }
                    
                let result = await syncAjax("default", "POST", "/account/login", postData);

                if (result.status != 'SUCCESS') {
                    swalWithBootstrapButtons.fire(makeAlertObj("error",result.msg)).then((errorResult) => {});
                } else {
                    var url = result.path;
                    $(location).attr('href',url);
                }
            });

            async function loginChk() {
	    		if (event.keyCode == 13) {
                    if(!valCheck("is", $("#loginID").val())) {
                        swalWithBootstrapButtons.fire(makeAlertObj("warning","ID를 입력해주십시오"));
                        return false;
                    }
                    if(!valCheck("is", $("#loginPW").val())) {
                        swalWithBootstrapButtons.fire(makeAlertObj("warning","비밀번호를 입력해주십시오"));
                        return false;
                    }

                    let postData = {
                        loginRole: "SA",
                        loginID: $("#loginID").val(),
                        loginPW: $("#loginPW").val()
                    }
                        
                    let result = await syncAjax("default", "POST", "/account/login", postData);

                    if (result.status != 'SUCCESS') {
                        swalWithBootstrapButtons.fire(makeAlertObj("error",result.msg)).then((errorResult) => {});
                    } else {
                            var url = result.path;
                            $(location).attr('href',url);
                    }
	    		}
	    	}
        </script>
    </body>
</html>